@import url('https://fonts.googleapis.com/css2?family=Castoro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

$primary-color:#ffffff;
$heading-text-color:#134E4A;
$subheading-text-color:#3B3B3B;
$font-1:'Castoro', serif;
$font-2:'Lato', sans-serif;
$font-3:'Poppins', sans-serif;
$divider:#E5E7EB;
$black:#2D2D2D;
$link:#FF6250;
$CTA:#134E4A;
$CTA-hover:#0B3835;
$client-background:#FBF9F3;



.App {
  background-color: $primary-color;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

