@import './App.scss';

// .brandBox
// {
//     margin: 0;
//     padding: 0;
//     text-align: center;
// }

.logos {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tablet {
    display: block;
}

.mobile {
    display: none;
}

@media only screen and (max-width:767px)
{

    .logos {
        height: 148px;
    }

    .tablet {
        display: none;
    }
    .mobile {
        display: block;
    }
}