@import './App.scss';

.clients {
    width: 589px;
    margin:60px auto 61px;
}

.clientsTitle {
    margin: 0 auto 35px;
    font-family: $font-1;
    font-weight: 400;
    font-size: 30px;
    text-align: center;
    color:$black
}

.clientsList {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

@media only screen and (max-width:767px) {
    .clients {
        width: 315px;
    }
    .clientsTitle {
        margin-bottom: 36px;
    }
    
}