@import './App.scss';

.feature {
    width: 225px;
    height: 298px;
    text-align: center;
}

.featureTitle
{
    font-family: $font-1;
    font-weight:400;
    font-size: 26px;
    line-height: 36px;
    margin: 10.42px 0 20.58px;
    color:$black;
}

.featureSubtitle {
    padding: 0;
    margin: 0;
    font-family:$font-2;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}

.featureLink {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7.67px;
    p {
        margin: 0;
        font-family:$font-2;
        font-weight: 500;
        color:$link;
        font-size: 14px;
        line-height: 24px;
    }
}
