@import './App.scss';

.footerContent
{
    font-family: $font-2;
    color: $black;
    font-size: 14px;
    width: 668px;
    margin: 30px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 30px;
}

.content-1 {
    margin: 0;
    padding: 0;
    .logo {
        margin-bottom: 35px;
    }

    .subscribe {
        color: #A4A4A4;
        margin: 0 0 5px;
    }

    input {
        display: inline;
        background: #F3F3F3;
        border-radius: 12px;
        box-sizing: border-box;
        border:none;
        height: 40px;
        width: 230px;
        padding: 8px 16px;
    }

    .send {
        display: inline;
        position: relative;
        left: -40px;
        color: #FF6250;
    }
}

.content-2 {
    width: 315px;   
    img {
        height: 38px;
    }
    .social {
        text-align: end;
    }

    .titleLinks {
        margin-top: 60px;
        display: flex;
        column-gap: 15.5px;
        justify-content: flex-end;
    }
    .titleLinkText {
        margin: 0;
        font-weight: 600;
        display: inline;
    }

    
}

@media only screen and (max-width:767px) {
    
    .footerContent {
        width: 315px;
    }

    .content-2 {
        .social {
            text-align:left;
        }
        .titleLinks {
            margin-top: 31px;
            justify-content: flex-start;
        }
    }
    
}