@import './App.scss';

.header
{
    margin:70px auto;
    width: 608px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 20px;
}

.headerContent
{
    width: 315px;
}

.headerTitle
{
    font-family: $font-1;
    font-size: 65px;
    font-weight: 400;
    color: $heading-text-color;
    line-height: 65px;
    margin: 0;
    padding: 0;
}

.headerSubtitle
{
    padding-right: 30px;
    font-family: $font-2;
    font-size: 14px;
    margin:15px 0 30px;
    line-height: 24px;
    font-weight: 400;
    color:$subheading-text-color;
}

.header-image
{
    height: 263px;
    width: 273px;
}



@media  only screen and (max-width:767px) {
    .header{
        width: 315px;
        margin: 95px auto 96px;
        row-gap: 40px;
    }

    .headerContent {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .headerSubtitle {
        padding: 0 15px;
    }
    
}