@import './App.scss';

.headlineBody 
{
    display: flex;
    flex-wrap: wrap;
    margin: 20px 90px;
    gap: 50px;
    justify-content: center;
    align-items: center;
}

.headlineContent{
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: flex-start;
    width: 210px;
    height: 202px;
}

.headlineHeading
{
    margin-bottom: 20px;
    font-family: $font-1;
    font-weight: 400;
    font-size: 30px;
}

.headlineText {
    margin-bottom: 30px;
    font-family: $font-2;
    font-weight: 400;
    font-size: 14px;
    color:$subheading-text-color;
}

@media only screen and (max-width:767px) {
    .headlineBody {
        margin:20px 30px;
    }
    .headlineContent{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}


@media only screen and (max-width:648px) {
    .headlineBody {
        flex-direction: column-reverse;
    }
    
}
