@import './App.scss';

.headlineBody 
{
    display: flex;
    flex-wrap: wrap;
    margin: 20px auto;
    gap: 50px;
    justify-content: center;
    align-items: center;
    width: 588px;
}

.headlineContent{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    width: 210px;
    height: 202px;
}

.headlineTitle
{
    margin: 0;
    margin-bottom: 20px;
    font-family: $font-1;
    font-weight: 400;
    font-size: 30px;
}

.headlineSubtitle {
    margin: 0;
    margin-bottom: 30px;
    font-family: $font-2;
    font-weight: 400;
    font-size: 14px;
    color:$subheading-text-color;
}

@media only screen and (max-width:767px) {
    .headlineBody {
        width: 315px;
        flex-direction: column-reverse;
    }
    .headlineContent{
        justify-content: center;
        text-align: center;
    }
}

