@import './App.scss';

.top
{
    margin: 0;
    height: 58px;
    padding: 20px 30px;
}

.logoDiv {
    display: inline-flex;
    align-items: center;
    height: 38px;
}

.logo
{
    width: 90.99px;
    height: 18px;
}

.download
{
    float: right;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 7px;
    align-items: center;
}

.googleLogo
{
    height: 34px;
    width: 102px;
    padding: 0px 0px 0px;
}

.appleLogo
{
    height: 34px;
    width: 102px;
    padding: -8px 0 12px;
}

@media only screen and (max-width:400px) {
    .top {
        padding: 20px;
    }
    
}