@import './App.scss';

.top
{
    margin: 0;
    height: 58px;
    padding: 0 30px;
}

.logoDiv {
    display: inline-block;
    margin-top: 20px;
}

.logo
{
    width: 90.99px;
    height: 18px;
}

.download
{
    height: 34px;
    float: right;
    margin-top: 12px;
    display: flex;
    gap: 7px;
    align-items: center;
}


@media only screen and (max-width:767px) {
    .top {
        padding:0 20px;
    }
    
}